/* IMPORTING COMPONENTS */
@import url('fonts.css');
@import url('components/menu-button.css');
@import url('components/close-button.css');
@import url('components/navbar.css');

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	background: #eee;
}
a {
	text-decoration: none;
}

/* MAIN CONTAINER */
.wrapper {
    padding: 70px 20px 20px 20px;
}

/* Transfer Front Page Styles to a dedicated file  */
/* Front Page Styles */
.front{
	height: calc(100vh - 50px);
	background: #eee url('../img/front.jpg') no-repeat;
	background-size: cover;
}
.front-container{
	width: 100%;
	padding: 50px 0;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.front-container > *{
	color: #232323;
}
.front-container .logo{
	font-size: 48px;
	text-align: center;
}
.front-container .start-btn{
	width: 170px;
	font-size: 24px;
	text-align: center;
	padding: 5px 10px;
	background: #2b5a79;
	color: #eee;
	box-shadow: 0 12px 10px -10px rgba(0,0,0,.9);
	position: relative;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	transition: all .3s ease-in-out;
	cursor: pointer;
}
.front-container .start-btn:hover{
	background: #2B5A66;
	transform: translateX(-50%) translateY(-4px);
	box-shadow: 0 22px 15px -17px rgba(0,0,0,.7);
}

/* Header Styles */
header{
	width: 100%;
	height: 50px;
	padding: 10px 20px;
	color: #eee;
	background: #232323;
	z-index: 2;
	box-shadow: 0px 3px 6px 1px rgba(0,0,0,.4);
	position: fixed;
  	top: 0;
  	left: 0;
}
header .notify {
	background: rgba(184, 184, 185, 0.2);
	position: absolute;
	top: 0px;
	left: 50%;
	height: 45px;
	padding: 10px;
	display: none;
}
header .notify__msg{
	display: inline-block;
}
header .notify__close-btn {
	cursor: pointer;
}
header .account {
	position: absolute;
  	right: 20px;
	display: inline-flex;
}
header .account .username {
	margin-bottom: 10px;
    text-align: center;
}
header .account .greetings {
	font-weight: bold;
}
header .account .profile-pic {
	cursor: pointer;
	width: 30px;
	height: 30px;
}
header .account .toggle-menu {
	background: none;
	border: none;
}
header .account .menu {
	position: fixed;
	padding: 25px 0;
	right: 10px;
	top: 55px;
  	display: none;
	box-shadow: 0px 3px 6px 1px rgba(0,0,0,.4);
	background: #eee;
	color: #232323;
  	transition: height .3s ease-in-out;
}
header .account .menu::before {
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 10px solid;
	border-color: transparent transparent #eee transparent;
	top: -20px;
	right: 15px;
}
header .account .menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
header .account .menu li {
	font-size: 20px;
	padding: 5px 40px;
	transition: all .3s ease-in-out;
}
header .account .menu li:hover:not(#logout) {
	background: #ddd;
}
header .account .menu a {
	color: #232323;
	display: block;
}
header .logo{
	color: #eee;
	display: inline-flex;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	font-size: 20px;
	font-weight: 100;
}
header .nav{
	float: right;
	margin: 0 15px;
	margin: 0;
	padding: 0;
}
header .nav a{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border: 1px solid;
 	border-radius: 2px;
	margin-right: 5px;
	color: #eee;
	font-size: 17px;
	padding: 0 15px;
}
header .nav a:last-child {
	margin-right: 0;
}
header .nav a:not(#signup):hover, header .nav a:not(#signup):active, header .nav a:not(#signup):focus{
	background: #2b5a79;
}
header #signup {
  background: #2b5a79;
}
#logout input{
	color: #eee;
	background: #2b5a79;
	padding: 5px 10px;
  	border: none;
  	font-size: 20px;
  	border-radius: 3px;
	cursor: pointer;
	transition: background .3s ease-in-out, color .3s ease-in-out;
}
#logout input:hover {
	background: #2b5a70;
}


@media screen and (max-width: 768px) {
	.wrapper {
    	padding: 70px 20px 0 20px;
	}
	header .nav, header .account .username {
		display: none !important;
	}
}
@media (max-width:500px){
	.front-container .logo{
		font-size: 40px;
	}
	.front-container .start-btn{
		width: 140px;
		font-size: 20px;
		box-shadow: none;
	}
	.front-container .start-btn:hover{
		transform: translateX(-50%);
		box-shadow: none;
	}
}