/* Toggle Button */
.toggle-btn{
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: inline-flex;
	margin-right: 10px;
	background: transparent;
	border: 0;
	padding: 0;
}
.toggle-btn span, .toggle-btn span:before, .toggle-btn span:after{
	width: 20px;
	height: 2px;
	background: #eee;
	position: absolute;
	transition: width .3s ease-in-out, transform .3s ease-in-out, background .15s ease-in-out;
}
.toggle-btn span{
	top: calc(50% - 2px);
}
.toggle-btn span:before{
	content: '';
	top: -6px;
	left: 0;
}
.toggle-btn span:after{
	content: '';
	top: 6px;
	left: 0;
}
.toggle-btn.onclick span{
	background: none;
}
.toggle-btn.onclick span:before{
	transform: translateY(6px) rotate(45deg);
}
.toggle-btn.onclick span:after{
	transform: translateY(-6px) rotate(-45deg);
}