.navbar{
	width: 90%;
	max-width: 300px;
	height: 100vh;
  color: #eee;
  background: #232323;
  box-shadow: 2px 0 6px 1px rgba(0,0,0,.4);
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -102%;
  z-index: 3;
  transition: margin-left .3s ease-in-out;
}
.navbar.onclick {
	margin-left: 0;	
}
.navbar ul {
  padding: 0;
  list-style: none;
}
.navbar a{
  color: #eee;
}
.nav-list li {
  cursor: pointer;
}
.nav-list li:hover {
  background: #2b5a79;
}
.nav-list li a{
  padding: 10px 20px;
  display: block;
  font-size: 20px;
  font-weight: 100;
}

.profile-menu {
  width: 100%;
  padding: 50px 20px 10px 20px;
  background: #2b5a79;
  position: relative;
}
.profile-menu .profile-pic {
  width: 100px;
}
.profile-menu .user-name {
  font-size: 20px;
  font-weight: 200px;
}